body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
    text-align: center;
    background-image: url(../images/backgrounds/1.jpg);
    opacity: 0.98;
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

strong {
    font-weight: 600;
}

a {
    color: #a365bc;
    border-bottom: 1px dashed #a365bc;
    text-decoration: none;
    transition: all .3s;
}

a:hover,
a:focus {
    color: #a365bc;
    border: 0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    font-style: italic;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 17px;
    line-height: 32px;
}

::-moz-selection {
    background: #8542a0;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #8542a0;
    color: #fff;
    text-shadow: none;
}


/***** General style, all sections *****/

.navBar1 {
    background-color: black;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
    text-align: left;
}


/*This styles the links in the navbar*/

.navBar1 a {
    padding: 10px;
    font-size: 25px;
    color: #A8AAE0;
    text-align: center;
    text-decoration: none;
}


/*active class to highlight the current page*/

.navBar1 a.active {
    padding: 10px;
    font-size: 25px;
    background-color: #d43052;
    color: black;
}


/*This styles the links when you hover over them*/

.navBar1 a:hover {
    background-color: #ddd;
    color: black;
}

#logOutButton {
    font-size: 25px;
    color: #A8AAE0;
    background: none;
    border-color: #d43052;
    float: right;
}

#logOutButton:hover {
    background-color: #ddd;
    color: black;
}

.welcomeDiv {
    width: 60%;
    float: left;
    padding-bottom: 10px;
}

.cameraDiv {
    width: 40%;
    float: right;
}

#webCamElement {
    width: 300px;
    float: right;
    background-color: #666;
    position: static;
}


/***** Divider *****/

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}


/***** Top content *****/

.top-content {
    position: static;
    width: 100%;
    padding: 60px 0 120px 0;
}

.top-content h1 {
    color: #fff;
}

.top-content .description {
    margin: 30px 0 0 0;
    padding-bottom: 80px;
}

.top-content .description p {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.top-content .description a {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.top-content .description a:hover,
.top-content .description a:focus {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.top-content .carousel {
    box-shadow: 0 0 15px 0 #444;
}

.top-content .carousel-control-prev {
    left: -110px;
    border-bottom: 0;
}

.top-content .carousel-control-next {
    right: -110px;
    border-bottom: 0;
}

.top-content .carousel-indicators {
    bottom: -80px;
}

.top-content .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}


/***** Footer *****/

footer {
    padding: 40px 0;
}